header {
    color: whitesmoke;
    align-items: center;
    display: flex;
}
header{
    background: black;
}
.header{
    font-family: monospace;
    
}
.head{
    display: flex;
    align-items: center
}
body {
    
     margin: 0;     
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.logo{
    width: 100px;
    height: 100px;
}
.Photo{
    margin-right: 50px;
    width: 500px;
    height: 350px;
}
.link{
    font-size:20px;
    background-color: rgba(255, 119, 0, 0.975);
    text-decoration: none;
    color: white;
    padding: 5px;
}
.bluebox{
    background-color: blue;
    text-align: justify ;
    color: white;
    height: 60%;
}
.headachetext  {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
    padding: 20px;
}
.more{
    width: 80%;
    display: flex;
}
.less{
    
    width: 20%;
    display: flex;  
}
.allheadache{
    display: flex;
    justify-content: space-between;
}
.list{
    line-height: 30px;
    border: 15px orange;
    width: 180px;
    height: 330px;
}
.headache{
    display: flex;
    justify-content: space-between
}


.text{
    color: black;
    padding-right: 90px;
    padding-left: 60px;
    font-family:monospace;
    text-align: left;
}
.logofooter{
    align-items: center;
    width: 100px;
    height: 100px;
}
.facebook{
    width: 40px;
    height: 40px;
}
.twitter{
    width: 40px;
    height: 40px;
}
.instagram{
    width: 40px;
    height: 40px;   
}
.perf{
    color: black;
}
footer{
    text-align: center;
}







